# We will now start coding in python! We are going to load our counts data from featureCounts and make some files for DESeq2

First we need to import all the python packages that we will use. We will do that in the following cell. **WARNING** you most likely won't have all these packages installed. If you get the error "Cannot import package name ...." You need to go back to your command line and install it on tscc. 

Remember how we installed things before? Try conda, then bioconda, then pip. Once you have installed it on your command line on tscc, you will need to restart your kernel to refresh those changes (Kernel - Restart)

**NOTE - **since these are python specific packages, you will not be able to tell if they installed properly on your command line with 

    which packagename
   
Instead, you will first need to open python in your terminal with:

    python
    
Then try to import it (this is the same thing you do in a Jupyter notebook)

    import packagename
    
If you don't get any errors, then success! It is installed. To get out of python and back to your normal command line:

    quit()
    
**Don't be afraid of error messages! Learn how to read them and solve them!!**

In [19]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

In [27]:
# This notebook is linked to TSCC, so we can load data directly by providing 
# the full path of the file location on tscc. Change the directory below to match your path
data_directory = '/projects/ps-yeolab/biom262_2017/featurecounts/'
save_directory = '/home/ucsd-train39/scratch/projects/u2af1_shrna/featurecounts/'

# We are going to load the featurecounts file and assign it to the variable name: counts
# change the "featureCounts.txt" to match the filename you used in your featureCounts script
counts = pd.read_table(data_directory+"all_counts.txt",index_col=0,
                    comment="#")

# Let's also load in the summary file so we can calculate the percent of reads
# that aligned in our sample. 

summary = pd.read_table(data_directory+"all_counts.txt.summary",index_col=0,
                       comment="#")
print summary.shape
print counts.shape
counts.head()

(11, 4)
(57820, 9)

,Chr,Start,End,Strand,Length,u2af1_control_k562_rep1.sorted.bam,u2af1_control_k562_rep2.sorted.bam,u2af1_shrna_k562_rep1.sorted.bam,u2af1_shrna_k562_rep2.sorted.bam
Geneid,,,,,,,,,
ENSG00000223972.4,chr1;chr1;chr1;chr1,11869;12595;12975;13221,12227;12721;13052;14412,+;+;+;+,1756,0,1,0,0
ENSG00000227232.4,chr1;chr1;chr1;chr1;chr1;chr1;chr1;chr1;chr1;c...,14363;14970;15796;16607;16854;17233;17498;1760...,14829;15038;15947;16765;17055;17368;17504;1774...,-;-;-;-;-;-;-;-;-;-;-;-;-,2073,94,103,81,36
ENSG00000243485.2,chr1;chr1;chr1,29554;30267;30976,30039;30667;31109,+;+;+,1021,0,1,0,1
ENSG00000237613.2,chr1;chr1;chr1,34554;35245;35721,35174;35481;36081,-;-;-,1219,5,4,5,5
ENSG00000268020.2,chr1;chr1,52473;54830,53312;54936,+;+,947,0,0,0,0

In [21]:
#Let's drop unnecessary columns

#Look at the column names in your dataframe above, we only want to keep Length and the four files
#containing the count information. Make sure the names that you have after drop below match the 
#column names that you want to eliminate

counts.drop(['Chr','Start','End','Strand'],axis=1, inplace=True)
counts.head()

,Length,u2af1_control_k562_rep1.sorted.bam,u2af1_control_k562_rep2.sorted.bam,u2af1_shrna_k562_rep1.sorted.bam,u2af1_shrna_k562_rep2.sorted.bam
Geneid,,,,,
ENSG00000223972.4,1756,0,1,0,0
ENSG00000227232.4,2073,94,103,81,36
ENSG00000243485.2,1021,0,1,0,1
ENSG00000237613.2,1219,5,4,5,5
ENSG00000268020.2,947,0,0,0,0

In [22]:
#Here we are going to change the name of the columns by providing a list of the 
#new column names we want to use. Order matters!

counts = counts.rename(columns = {"u2af1_control_k562_rep1.sorted.bam":"u2af1_control_k562_rep1",
                  "u2af1_control_k562_rep2.sorted.bam":"u2af1_control_k562_rep2",
                  "u2af1_shrna_k562_rep1.sorted.bam":"u2af1_shrna_k562_rep1",
                  "u2af1_shrna_k562_rep2.sorted.bam":"u2af1_shrna_k562_rep2"})
counts.head()

,Length,u2af1_control_k562_rep1,u2af1_control_k562_rep2,u2af1_shrna_k562_rep1,u2af1_shrna_k562_rep2
Geneid,,,,,
ENSG00000223972.4,1756,0,1,0,0
ENSG00000227232.4,2073,94,103,81,36
ENSG00000243485.2,1021,0,1,0,1
ENSG00000237613.2,1219,5,4,5,5
ENSG00000268020.2,947,0,0,0,0

In [23]:
#We will save this counts matrix to use as the input for differential expression. 
#This will be saved in the directory location that you defined above and will have the filename 
#counts_for_deseq2.csv

counts.to_csv(save_directory+'counts_for_deseq2.csv')

In [24]:
#We also need to make a condition matrix for deseq2. The row names need to match the column names
#from the count matrix and we will assign a condition to each row

conditions = pd.DataFrame(index = counts.columns[1:])
conditions.head()

Empty DataFrame
Columns: []
Index: [u2af1_control_k562_rep1, u2af1_control_k562_rep2, u2af1_shrna_k562_rep1, u2af1_shrna_k562_rep2]

In [25]:
#Make sure the features listed below match the order of the rows that are listed in the 
#conditions dataframe that is printed above. If necessary, change the order to match your
#setup. Check that the conditions match on the dataframe created below

features= ['control','control','knockdown','knockdown']
conditions['condition'] = features
conditions.head()

                         condition
u2af1_control_k562_rep1    control
u2af1_control_k562_rep2    control
u2af1_shrna_k562_rep1    knockdown
u2af1_shrna_k562_rep2    knockdown

In [28]:
#We will save this counts matrix to use as the input for differential expression. 
#This will be saved in the directory location that you defined above and will have the filename 
#conditions_for_deseq2.csv

conditions.to_csv(save_directory+'conditions_for_deseq2.csv')