In [1]:
# Import the packages we will be using and give them a keyboard shortcut.
# If you get an error that says package does not exist, go back to 
# your TSCC terminal and type conda install packagename Once it finishes, 
# restart your kernel with the arrow button above and try again. 

import pandas as pd

In [2]:
# Set the directory where we are accessing the data from as a variable
# that can be easily called.

data_dir = "/projects/ps-yeolab/biom262_2017/featurecounts/"

# Use the pandas read_table function to read in your data. Make sure the
# file name matches what your data is called on tscc and it is located in 
# the folder that you have defined as data_dir. 

# Use a commend to specify the character that comment lines start with... 
# we don't want to read those in. Set the gene_id as the index for this 
# dataframe with index_col=0

counts = pd.read_table(data_dir+"all_counts.txt", comment="#", index_col=0)

# Use the print function to print out the number of rows and columns in 
# your dataframe. Use head to view your dataframe that you just loaded in.
# Make sure that you include the () after head.

print counts.shape
counts.head()

(57820, 9)

,Chr,Start,End,Strand,Length,u2af1_control_k562_rep1.sorted.bam,u2af1_control_k562_rep2.sorted.bam,u2af1_shrna_k562_rep1.sorted.bam,u2af1_shrna_k562_rep2.sorted.bam
Geneid,,,,,,,,,
ENSG00000223972.4,chr1;chr1;chr1;chr1,11869;12595;12975;13221,12227;12721;13052;14412,+;+;+;+,1756,0,1,0,0
ENSG00000227232.4,chr1;chr1;chr1;chr1;chr1;chr1;chr1;chr1;chr1;c...,14363;14970;15796;16607;16854;17233;17498;1760...,14829;15038;15947;16765;17055;17368;17504;1774...,-;-;-;-;-;-;-;-;-;-;-;-;-,2073,94,103,81,36
ENSG00000243485.2,chr1;chr1;chr1,29554;30267;30976,30039;30667;31109,+;+;+,1021,0,1,0,1
ENSG00000237613.2,chr1;chr1;chr1,34554;35245;35721,35174;35481;36081,-;-;-,1219,5,4,5,5
ENSG00000268020.2,chr1;chr1,52473;54830,53312;54936,+;+,947,0,0,0,0

In [3]:
# We are going to get rid of the Chr, Start, End, Strand columns by feeding
# the drop command a LIST of column names to drop. Notice the syntax for writing 
# a list is ['item1','item2'] Use axis=1 to specify that we are dropping these 
# COLUMNS. Axis=0 would search to drop those values from the ROWS. Again, look 
# at how this manipulation changed the shape and content of your dataframe.

counts = counts.drop(['Chr','Start','End','Strand'], axis=1)
print counts.shape
counts.head()

(57820, 5)

,Length,u2af1_control_k562_rep1.sorted.bam,u2af1_control_k562_rep2.sorted.bam,u2af1_shrna_k562_rep1.sorted.bam,u2af1_shrna_k562_rep2.sorted.bam
Geneid,,,,,
ENSG00000223972.4,1756,0,1,0,0
ENSG00000227232.4,2073,94,103,81,36
ENSG00000243485.2,1021,0,1,0,1
ENSG00000237613.2,1219,5,4,5,5
ENSG00000268020.2,947,0,0,0,0

In [4]:
# We are going to rename the columns to something more meaningful using the function
# rename. inside of rename, we will call columns={"oldname":"newname","oldname":"newname"}
# Keep in mind that you can enter to a new line whenever you are inside of a parenthesis
# or bracket without breaking your command. This makes your code easier to read. Rename
# all the columns that you want to, and assign that output to a variable called counts.

counts = counts.rename(columns={"u2af1_control_k562_rep1.sorted.bam":"u2af1_control_k562_rep1",
                               "u2af1_control_k562_rep2.sorted.bam":"u2af1_control_k562_rep2",
                               "u2af1_shrna_k562_rep1.sorted.bam":"u2af1_shrna_k562_rep1",
                               "u2af1_shrna_k562_rep2.sorted.bam":"u2af1_shrna_k562_rep2"})
print counts.shape
counts.head()

(57820, 5)

,Length,u2af1_control_k562_rep1,u2af1_control_k562_rep2,u2af1_shrna_k562_rep1,u2af1_shrna_k562_rep2
Geneid,,,,,
ENSG00000223972.4,1756,0,1,0,0
ENSG00000227232.4,2073,94,103,81,36
ENSG00000243485.2,1021,0,1,0,1
ENSG00000237613.2,1219,5,4,5,5
ENSG00000268020.2,947,0,0,0,0

In [5]:
#You can see the names of all the columns in your dataframe. This will
#output a list of column names. You can save this list to a new variable

counts.columns

Index([u'Length', u'u2af1_control_k562_rep1', u'u2af1_control_k562_rep2',
       u'u2af1_shrna_k562_rep1', u'u2af1_shrna_k562_rep2'],
      dtype='object')

In [60]:
col_names = counts.columns
print col_names.shape
col_names

(5,)

Index([u'Length', u'u2af1_control_k562_rep1', u'u2af1_control_k562_rep2',
       u'u2af1_shrna_k562_rep1', u'u2af1_shrna_k562_rep2'],
      dtype='object')

In [7]:
# Access values in a list by slicing, this is similar to what we did in R, 
# except this time remember that the first value is in the 0 position. You 
# can use the - to move in backwards order in the list.


print col_names[0]
print col_names[1:4]
print col_names[-1]

Length
Index([u'u2af1_control_k562_rep1', u'u2af1_control_k562_rep2',
       u'u2af1_shrna_k562_rep1'],
      dtype='object')
u2af1_shrna_k562_rep2

In [8]:
# You can access a specific row in the dataframe with dataframe[rowname]

counts['Length']

Geneid
ENSG00000223972.4    1756
ENSG00000227232.4    2073
ENSG00000243485.2    1021
ENSG00000237613.2    1219
ENSG00000268020.2     947
ENSG00000240361.1     940
ENSG00000186092.4     918
ENSG00000238009.2    3569
ENSG00000239945.1    1319
ENSG00000233750.3    3812
ENSG00000237683.5    2661
ENSG00000268903.1     755
ENSG00000269981.1     284
ENSG00000239906.1     323
ENSG00000241860.2    6195
ENSG00000222623.1     104
ENSG00000241599.1     457
ENSG00000228463.4    3954
ENSG00000241670.2     484
ENSG00000237094.7    6869
ENSG00000250575.1    1239
ENSG00000233653.3    2477
ENSG00000224813.2     180
ENSG00000235249.1     995
ENSG00000269732.1     363
ENSG00000256186.1      90
ENSG00000236601.1     635
ENSG00000236743.1     676
ENSG00000236679.2     385
ENSG00000231709.1     842
                     ...
ENSG00000210107.1      72
ENSG00000210112.1      68
ENSG00000198763.3    1042
ENSG00000210117.1      68
ENSG00000210127.1      69
ENSG00000210135.1      73
ENSG00000210140.1      66
ENSG00000210144.1      66
ENSG00000198804.2    1542
ENSG00000210151.2      69
ENSG00000210154.1      68
ENSG00000198712.1     684
ENSG00000210156.1      70
ENSG00000228253.1     207
ENSG00000198899.2     681
ENSG00000198938.2     784
ENSG00000210164.1      68
ENSG00000198840.2     346
ENSG00000210174.1      65
ENSG00000212907.2     297
ENSG00000198886.2    1378
ENSG00000210176.1      69
ENSG00000210184.1      59
ENSG00000210191.1      71
ENSG00000198786.2    1812
ENSG00000198695.2     525
ENSG00000210194.1      69
ENSG00000198727.2    1141
ENSG00000210195.2      66
ENSG00000210196.2      68
Name: Length, dtype: int64

In [9]:
# Wow, that printed a lot of rows and was really annoying to look at. 
# Let's shorten it with head

counts['Length'].head()

Geneid
ENSG00000223972.4    1756
ENSG00000227232.4    2073
ENSG00000243485.2    1021
ENSG00000237613.2    1219
ENSG00000268020.2     947
Name: Length, dtype: int64

In [10]:
# You can access the row names with index since we set the 
# row names as the index of our dataframe.

counts.index

Index([u'ENSG00000223972.4', u'ENSG00000227232.4', u'ENSG00000243485.2',
       u'ENSG00000237613.2', u'ENSG00000268020.2', u'ENSG00000240361.1',
       u'ENSG00000186092.4', u'ENSG00000238009.2', u'ENSG00000239945.1',
       u'ENSG00000233750.3',
       ...
       u'ENSG00000198886.2', u'ENSG00000210176.1', u'ENSG00000210184.1',
       u'ENSG00000210191.1', u'ENSG00000198786.2', u'ENSG00000198695.2',
       u'ENSG00000210194.1', u'ENSG00000198727.2', u'ENSG00000210195.2',
       u'ENSG00000210196.2'],
      dtype='object', name=u'Geneid', length=57820)

In [11]:
# If you have a specific gene that you would like to look at, you can jump 
# straight to that row with .loc and it will return the value in each column
# of the dataframe for that row

counts.loc['ENSG00000198886.2']

Length                       1378
u2af1_control_k562_rep1    189614
u2af1_control_k562_rep2    203959
u2af1_shrna_k562_rep1      261300
u2af1_shrna_k562_rep2      294420
Name: ENSG00000198886.2, dtype: int64

In [12]:
# Math in python is pretty simple

2 + 2

4

In [13]:
10 / 5

2

In [14]:
# You can also store the output of some math to a variable. But if you want
# to see your result, you have to print it

x = 2 + 2
print x

4

In [15]:
2*2

4

In [16]:
# To use exponents, 10 ^ 6, use two star characters:

10**6

1000000

In [17]:
# You can do things like, sum, average, median, etc on dataframes too. Use axis
# to specify which direction you are summing.

#This will give you the sum of across each row
counts.sum(axis=1)

Geneid
ENSG00000223972.4       1757
ENSG00000227232.4       2387
ENSG00000243485.2       1023
ENSG00000237613.2       1238
ENSG00000268020.2        947
ENSG00000240361.1        940
ENSG00000186092.4        918
ENSG00000238009.2       4059
ENSG00000239945.1       1319
ENSG00000233750.3       3812
ENSG00000237683.5       3773
ENSG00000268903.1        760
ENSG00000269981.1        284
ENSG00000239906.1        376
ENSG00000241860.2       7003
ENSG00000222623.1        123
ENSG00000241599.1        457
ENSG00000228463.4       5152
ENSG00000241670.2        484
ENSG00000237094.7       6998
ENSG00000250575.1       1247
ENSG00000233653.3       2477
ENSG00000224813.2        180
ENSG00000235249.1        995
ENSG00000269732.1        363
ENSG00000256186.1         90
ENSG00000236601.1        635
ENSG00000236743.1        677
ENSG00000236679.2        385
ENSG00000231709.1        868
                      ...
ENSG00000210107.1        942
ENSG00000210112.1        489
ENSG00000198763.3     221395
ENSG00000210117.1        333
ENSG00000210127.1        363
ENSG00000210135.1         79
ENSG00000210140.1        269
ENSG00000210144.1        105
ENSG00000198804.2    1147856
ENSG00000210151.2        326
ENSG00000210154.1        111
ENSG00000198712.1     811650
ENSG00000210156.1         77
ENSG00000228253.1     143718
ENSG00000198899.2     321710
ENSG00000198938.2     552939
ENSG00000210164.1         74
ENSG00000198840.2      56276
ENSG00000210174.1         67
ENSG00000212907.2     225429
ENSG00000198886.2     950671
ENSG00000210176.1         80
ENSG00000210184.1         60
ENSG00000210191.1         73
ENSG00000198786.2     195525
ENSG00000198695.2     125519
ENSG00000210194.1        264
ENSG00000198727.2     124849
ENSG00000210195.2        318
ENSG00000210196.2       1583
dtype: int64

In [18]:
# Clean up that output again with head

counts.sum(axis=1).head()

Geneid
ENSG00000223972.4    1757
ENSG00000227232.4    2387
ENSG00000243485.2    1023
ENSG00000237613.2    1238
ENSG00000268020.2     947
dtype: int64

In [19]:
# Let's sum on the other axis. This will give you the sum down
# each column 

counts.sum(axis=0)

Length                     126319986
u2af1_control_k562_rep1     16457293
u2af1_control_k562_rep2     19150366
u2af1_shrna_k562_rep1       15402305
u2af1_shrna_k562_rep2       15730271
dtype: int64

In [20]:
# So let's say I want to take the sum of the Length column. First 
# access the column, then sum it

counts['Length'].sum()

126319986

In [61]:
# Time to calculate RPKM. First we need to divide by the total mapped reads 
# that have been scaled by a million.

# First, let's only access the columns with our counts dataframe and save the
# names of those columns to a list. Use slicing again.

data_cols = counts.columns[1:5]
print data_cols.shape
data_cols

(4,)

Index([u'u2af1_control_k562_rep1', u'u2af1_control_k562_rep2',
       u'u2af1_shrna_k562_rep1', u'u2af1_shrna_k562_rep2'],
      dtype='object')

In [66]:
# Now access just the columns in the dataframe with the list of columns that we 
# are interested in.

print counts[data_cols].shape
counts[data_cols].head()

(57820, 4)

,u2af1_control_k562_rep1,u2af1_control_k562_rep2,u2af1_shrna_k562_rep1,u2af1_shrna_k562_rep2
Geneid,,,,
ENSG00000223972.4,0,1,0,0
ENSG00000227232.4,94,103,81,36
ENSG00000243485.2,0,1,0,1
ENSG00000237613.2,5,4,5,5
ENSG00000268020.2,0,0,0,0

In [67]:
# The output of featurecounts gives you all genes. this is really big. You will 
# notice your dataframe shape is > 50,000 genes. A lot of these have zero
# counts. Let's filter those out so that our processing will go faster.

# We can calculate the sum of reads that mapped in all of our samples
# with :

counts[data_cols].sum(axis=1).head()

Geneid
ENSG00000223972.4      1
ENSG00000227232.4    314
ENSG00000243485.2      2
ENSG00000237613.2     19
ENSG00000268020.2      0
dtype: int64

In [70]:
# We can use logicals in python in the same way that we did in R. If I want to 
# know how many of these sums are 0, we can use the following command:
    
len(counts.loc[counts[data_cols].sum(axis=1) == 0])

31350

In [71]:
# We are going to use .loc to filter out the 31350 genes that recieved no counts 
# counts across all of our datasets. Assign that output to counts_filtered.
# Use shape to show how many rows in the dataframe were filtered out. The .loc will
# keep all rows that have a value of TRUE in the logical we are feeding in.

counts_filtered = counts.loc[counts[data_cols].sum(axis=1) > 0]
print counts.shape
print counts_filtered.shape
counts_filtered.head()

(57820, 5)
(26470, 5)

,Length,u2af1_control_k562_rep1,u2af1_control_k562_rep2,u2af1_shrna_k562_rep1,u2af1_shrna_k562_rep2
Geneid,,,,,
ENSG00000223972.4,1756,0,1,0,0
ENSG00000227232.4,2073,94,103,81,36
ENSG00000243485.2,1021,0,1,0,1
ENSG00000237613.2,1219,5,4,5,5
ENSG00000238009.2,3569,140,128,128,94

In [72]:
# The sum of each row is first scaled by 10 ^ 6 with:

counts_filtered[data_cols].sum(axis=0)/(10**6)

u2af1_control_k562_rep1    16.457293
u2af1_control_k562_rep2    19.150366
u2af1_shrna_k562_rep1      15.402305
u2af1_shrna_k562_rep2      15.730271
dtype: float64

In [78]:
rpm_counts = counts_filtered[data_cols].divide(counts_filtered[data_cols].sum(axis=0)/(10**6))
print rpm_counts.shape
rpm_counts.head()

(26470, 4)

,u2af1_control_k562_rep1,u2af1_control_k562_rep2,u2af1_shrna_k562_rep1,u2af1_shrna_k562_rep2
Geneid,,,,
ENSG00000223972.4,0.000000,0.052218,0.000000,0.000000
ENSG00000227232.4,5.711753,5.378487,5.258953,2.288581
ENSG00000243485.2,0.000000,0.052218,0.000000,0.063572
ENSG00000237613.2,0.303817,0.208873,0.324627,0.317858
ENSG00000238009.2,8.506867,6.683945,8.310444,5.975739

In [79]:
# Now we need to get our length information back so we can normalize 
# for gene length. Length is still still stored in our counts dataframe.
# Let's join that column into our new dataframe. Since the geneID is common,
# we will use that column to join on. This is similar to what we did in R
# Join will automatically joing two dataframes on the index. Since the index
# is the common column, the default will work here. 

rpm_counts = rpm_counts.join(counts['Length'], how="left")
print rpm_counts.shape
rpm_counts.head()

(26470, 5)

,u2af1_control_k562_rep1,u2af1_control_k562_rep2,u2af1_shrna_k562_rep1,u2af1_shrna_k562_rep2,Length
Geneid,,,,,
ENSG00000223972.4,0.000000,0.052218,0.000000,0.000000,1756
ENSG00000227232.4,5.711753,5.378487,5.258953,2.288581,2073
ENSG00000243485.2,0.000000,0.052218,0.000000,0.063572,1021
ENSG00000237613.2,0.303817,0.208873,0.324627,0.317858,1219
ENSG00000238009.2,8.506867,6.683945,8.310444,5.975739,3569

In [80]:
# Next we need to take the length and divide 
# it by 1000 since it is reads per Kilobase, but we currently
# have the lengths reported in base pairs.

kb_lengths = rpm_counts['Length']/1000
kb_lengths.head()

Geneid
ENSG00000223972.4    1.756
ENSG00000227232.4    2.073
ENSG00000243485.2    1.021
ENSG00000237613.2    1.219
ENSG00000238009.2    3.569
Name: Length, dtype: float64

In [81]:
# Let's save this as a new column in our dataframe

rpm_counts['Length_kb'] = kb_lengths
print rpm_counts.shape
rpm_counts.head()

(26470, 6)

,u2af1_control_k562_rep1,u2af1_control_k562_rep2,u2af1_shrna_k562_rep1,u2af1_shrna_k562_rep2,Length,Length_kb
Geneid,,,,,,
ENSG00000223972.4,0.000000,0.052218,0.000000,0.000000,1756,1.756
ENSG00000227232.4,5.711753,5.378487,5.258953,2.288581,2073,2.073
ENSG00000243485.2,0.000000,0.052218,0.000000,0.063572,1021,1.021
ENSG00000237613.2,0.303817,0.208873,0.324627,0.317858,1219,1.219
ENSG00000238009.2,8.506867,6.683945,8.310444,5.975739,3569,3.569

In [82]:
# And finally, we need to divide the data columns by the length in kb. 
# Do this the same way we did it before.

rpkm = rpm_counts[data_cols].divide(rpm_counts['Length_kb'], axis=0)
print rpkm.shape
rpkm.head()

(26470, 4)

,u2af1_control_k562_rep1,u2af1_control_k562_rep2,u2af1_shrna_k562_rep1,u2af1_shrna_k562_rep2
Geneid,,,,
ENSG00000223972.4,0.000000,0.029737,0.000000,0.000000
ENSG00000227232.4,2.755308,2.594543,2.536880,1.103995
ENSG00000243485.2,0.000000,0.051144,0.000000,0.062264
ENSG00000237613.2,0.249234,0.171348,0.266306,0.260753
ENSG00000238009.2,2.383544,1.872778,2.328508,1.674346

In [84]:
# Now we are going to save this table define your save directory and save
# your file

save_dir = "/home/ucsd-train39/projects/u2af1_shrna/featurecounts/"

rpkm.to_csv(save_dir+"rpkm_u2af1_shrna.csv")